<!doctype html>
<div>
    <div>
        <h3>
            <span>{{displayCustomer.customerName}}</span>
            <span>Брой палета: {{countPalletes}}</span>
        </h3>
        <table>
            <tr>
                <th *ngFor="let col of cols">{{col}}</th>
            </tr>
            <tr *ngFor="let pall of displayPalletes;">
                <td>{{pall.palletId}}</td>
                <td><button (click)="setDeliveterStatus(pall)">+</button></td>
                <td><button (click)="setReturnedStatus(pall)">x</button></td><br>
            </tr>
        </table>
    </div>
    <div>
        <li><span>Очаквана сума кеш: {{customer.sumCash}}</span></li>
        <li><span>Очаквана сума банка</span>{{customer.sumBank}}</li>
        <li><input appOnlyNumber #box (keyup)="onEnter(box.value)" placeholder="въведи сума"></li>
        <li>
            <mat-form-field>
                <mat-select [(value)]="selected" placeholder="Моля изберете">
                    <mat-option *ngFor="let sel of selecting" [value]="sel.value">
                        {{sel.viewValue}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="selectingControl.hasError('required')">Моля изберете възможност</mat-error>
            </mat-form-field>
        </li>
        <div><input *ngIf="selected==='5'" #comm (keyup)="onComment(comm.value)" [hidden]="false" type="text"></div>
        <button (click)="makeSignature()">ПОДПИС</button>
        <button (click)="showSignature()">ПОКАЖИ</button>
        <input type="file" accept="image/gif, image/jpeg, image/png" #fileInput (change)="onFileChanged($event)" style="display: none">
        <button (click)="fileInput.click()">ЗАПИШИ ФАИЛ</button>
        <button (click)="showPic()">ВИЖ</button>
        <p><button>ЗАПАЗИ</button></p>
    </div>
    <div [hidden]="show">
        <signature-pad [options]="signaturePadOptions"></signature-pad>
        <button (click)="drawComplete()">Запази</button>
        <button (click)="AfterViewInit()">Изчисти</button>
    </div>
</div>