<div>
    <table>
        <tr>
            <th *ngFor="let col of columns">{{col}}</th>
        </tr>
        <tr *ngFor="let client of displayList">
            <td (click)="goToClientDetails(client.customerId)">{{client.customerName}}</td>
            <td (click)="goToClientDetails(client.customerId)">{{client.streetName}}</td>
            <td (click)="IsmodelShow = false" (click)="parseCoordinates(client.coordinate)">{{client.distance}}</td>
        </tr>
    </table>
    <button type="back" title="back" (click)="gpBackIfYouWant()">Завършвам Маршрута</button>
    <button [disabled]="clickTopermission" typq="submit" title="success" (click)="postDeliveryPalletes ()">Приемам Маршрута</button>
</div>
<div [hidden]="IsmodelShow" class="modal-dialog">
    <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
</div>